.header1 {
  color: rgb(255, 255, 255);
  font-family: Helvetica, sans-serif;
  background-color: rgb(163, 115, 13);

.recipeslist {
  text-align: center;
  background-color: tomato;   
  color: green;
}